* {
    margin: 0;
    padding: 0;
    border: 0 none;
    position: relative;
}
html, body {
    font-size: 1.1rem;
    line-height: 1.6;
    height : 100%;
    font-family: Arial,sans-serif;
}

.card {
    width: 10%;
    background: tomato;
    position: absolute;
    display: flex;
    margin: 1%;
    vertical-align: top;
    border-radius : 10px;
    background-image: url(../img/cardBg.jpg);
    background-size: contain;
    overflow: hidden;
    transform:rotateY(180deg);
    left : 0;
    top : 0;
    align-items: center;
    justify-content: center;

}

.card:before {
    content : '';
    padding-top: 150%;
    display: block;
}

.card span {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    font-size: 1rem;
    background: linear-gradient(45deg,rgb(200,200,200), rgb(250,250,250));
    opacity : 0;
    transform: scale(-1,1);
    display : flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

main {
    display: flex;
    height : 100%;
}

#player1 {
    flex-grow: 1;
    background-color: tomato;
}

#player2 {
    flex-grow: 1;
    background-color: purple;
}

#player1 .point {
    right : 0;
}

#player2 .point {
    left : 0;
}

.player {
    position: relative;
}

.player span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15%;
    color : white;
    font-size: 5em;
}

.player .point {
    position: absolute;
    top : 20%;
    font-size: 3em;
    opacity: 0;
}

.point.positive {
    color : green;
}

.point.negative {
    color : red;
}

#board {
    flex-grow: 1;
    background-color: cyan;
}